<%- include("partials/header") %>
<main class="about-section">
    <h1 class="title">About</h1>
    <p>I've had my fun, building up three blogs of my own, doing design work on dozens more, writing some freelance here and there. But at some point I've had enough fun. It's time to get back to the serious stuff—which is why I'm launching this blog on tech stuff. Computer science, clever code, startup culture—the kind of thing that keeps me up late at night.</p>
</main>
<%- include("partials/footer") %> 