<%- include("partials/header") %>
<main class="about-section">
    <h1 class="title">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque nisi corporis temporibus. Eaque nostrum, veniam explicabo ullam, iure rem exercitationem provident, laborum quia dolorem dolores cumque nulla incidunt velit?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</main>
<%- include("partials/footer") %> 