<%- include("partials/header") %>

<main class="compose-form">
    <form action="/compose" method="post" encType="multipart/form-data">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter Heading" name="postTitle" autocomplete="off">
            </div>
        </div>

        <div class="field">
            <label class="label">Cover Image</label>
            <div class="control ">
                <input class="input upload-input" type="file" name="imgFile" id="file">
            </div>

        </div>

        <div class="field">
            <label class="label">Content</label>
            <div class="control">
                <textarea class="textarea" placeholder="Enter Content" name="postContent"></textarea>
            </div>
        </div>

        <div class="control">
            <button class="button is-success" type="submit">Submit</button>
        </div>
    </form>
</main>

<script>
    var uploadField = document.getElementById("file");

    uploadField.onchange = function () {
        if (this.files[0].size > 700000 ) {
            alert("File is too big! File Size should be less than 700kb");
            this.value = "";
        };
    };
</script>
<%- include("partials/footer") %>