<%- include("partials/header") %>
<div class="hero">
    <img class="hero-img" src="/img/hero-img.png" alt="">
    <h1 class="title">Writing as usual.</h1>
<h1 class="title">Publishing like never before.</h1>
</div>



<%- include("partials/footer") %>