@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.nav-brand {
    font-size: 2.5rem;
    color: blue;
    font-family: 'Sacramento', cursive;
}

.navbar-burger {
    height: 4rem;
}

.title-heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.hero{
    margin: 2rem 0;
}

.hero-img {
    margin: auto;
    width: 25%;
}

.about-section{
    margin: 4rem 4rem;
}


.popular-post-container {
    padding-top: 5rem;
}

.popular-post {
    background-color: #f8f8f8;
    padding: 2rem;
}

.popular-post-heading{
    font-weight: 800;
}

.sub-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-decoration: underline 3px wavy grey;
}

.post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}

.popular-post-img {
    width: 40%;
    border-radius: 2rem;
}

.posts-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.blog-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    max-width: 300px;
}

.blog-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.blog-posts-img {
    border-radius: 1rem;
    max-height: 200px;
}

.blog-posts-img-container{
    width: 250px;
    height: 200px;
    overflow: hidden;
}

.footer{
    padding: 2rem;
    margin-bottom: -3rem;
}

.github-link:hover{
    text-decoration: underline;
}

.blog-container{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.blog-img-container{
    align-self: center;
}

.blog-img{
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    align-self: center;
}

.blog-content{
    max-width: 800px;
    margin: auto;
    padding: 2rem 0;
}

.compose-form{
    padding: 5rem 10rem;
}

.popular-post-form{
    padding: 8rem 3rem;
}

.popular-btn{
    margin-top: 1rem;
}

@media (max-width : 700px) {
    .title-heading {
        font-size: 2.5rem;
    }

    .hero-img {
        width: 80%;
        margin-top: 2rem;
    }

    .sub-title {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .post-container {
        display: flex;
        margin: 2rem 0.5rem;
        padding: 1.5rem 1rem;
        flex-direction: column-reverse;
    }

    .popular-post-img {
        width: 100%;
        border-radius: 1rem;
    }

    .popular-post{
        padding: 1rem;
    }

    .popular-post-heading{
        font-size: 1.5rem !important;
        margin-bottom: 1rem !important;
    }

    .blog-posts-container {
        margin: 1rem 2rem;
        background-color: white;
        padding: 1rem;
        border-radius: 2rem;
        max-width: 300px;
    }

    .blog-img{
        width: 100%;
    }

    .blog-container{
        padding: 2rem 1.5rem;
    }

    .compose-form{
        padding: 3rem;
    }
}